{% load static %}
<link rel="stylesheet" href="{% static 'calculator/style.css' %}">
<div class="container calculator">
        <input type="text"
               id="result"
               onclick="setInputId('result')"
               readonly
               placeholder="Enter expression"
               autofocus
               maxlength="256"
               custom-focus>
        <button class="button number-button"
                data-value="x"
                onclick="animateCircle(this, event.clientX, event.clientY); appendToResult('x')">x</button>
        <input class="x_input"
               type="text"
               id="xValue"
               onclick="setInputId('xValue')"
               readonly
               maxlength="256"
               placeholder="Enter x value or expression"
               value="{{ result }}">
        <button class="button function-button"
                data-value="Math.sqrt("
                onclick="animateCircle(this, event.clientX, event.clientY); appendToResult('sqrt(')">sqrt</button>
        <button class="button function-button"
                data-value="Math.pow("
                onclick="animateCircle(this, event.clientX, event.clientY); appendToResult('^')">pow</button>
        <button class="button number-button"
                data-value="7"
                onclick="animateCircle(this, event.clientX, event.clientY); appendToResult('7')">7</button>
        <button class="button number-button"
                data-value="8"
                onclick="animateCircle(this, event.clientX, event.clientY); appendToResult('8')">8</button>
        <button class="button number-button"
                data-value="9"
                onclick="animateCircle(this, event.clientX, event.clientY); appendToResult('9')">9</button>
        <button class="button operation-button"
                data-value="("
                onclick="animateCircle(this, event.clientX, event.clientY); appendToResult('(')">(</button>
        <button class="button operation-button"
                data-value=")"
                onclick="animateCircle(this, event.clientX, event.clientY); appendToResult(')')">)</button>
        <button class="button function-button"
                data-value="Math.asin("
                onclick="animateCircle(this, event.clientX, event.clientY); appendToResult('asin(')">asin</button>
        <button class="button function-button"
                data-value="Math.sin("
                onclick="animateCircle(this, event.clientX, event.clientY); appendToResult('sin(')">sin</button>
        <button class="button number-button"
                data-value="4"
                onclick="animateCircle(this, event.clientX, event.clientY); appendToResult('4')">4</button>
        <button class="button number-button"
                data-value="5"
                onclick="animateCircle(this, event.clientX, event.clientY); appendToResult('5')">5</button>
        <button class="button number-button"
                data-value="6"
                onclick="animateCircle(this, event.clientX, event.clientY); appendToResult('6')">6</button>
        <button class="button operation-button"
                data-value="/"
                onclick="animateCircle(this, event.clientX, event.clientY); appendToResult('/')">/</button>
        <button class="button operation-button"
                data-value="%"
                onclick="animateCircle(this, event.clientX, event.clientY); appendToResult('%')">mod</button>
        <button class="button function-button"
                data-value="Math.acos("
                onclick="animateCircle(this, event.clientX, event.clientY); appendToResult('acos(')">acos</button>
        <button class="button function-button"
                data-value="Math.cos("
                onclick="animateCircle(this, event.clientX, event.clientY); appendToResult('cos(')">cos</button>
        <button class="button number-button"
                data-value="1"
                onclick="animateCircle(this, event.clientX, event.clientY); appendToResult('1')">1</button>
        <button class="button number-button"
                data-value="2"
                onclick="animateCircle(this, event.clientX, event.clientY); appendToResult('2')">2</button>
        <button class="button number-button"
                data-value="3"
                onclick="animateCircle(this, event.clientX, event.clientY); appendToResult('3')">3</button>
        <button class="button operation-button"
                data-value="*"
                onclick="animateCircle(this, event.clientX, event.clientY); appendToResult('*')">*</button>
        <button class="button operation-button"
                data-value="-"
                onclick="animateCircle(this, event.clientX, event.clientY); appendToResult('-')">-</button>
        <button class="button function-button"
                data-value="Math.atan("
                onclick="animateCircle(this, event.clientX, event.clientY); appendToResult('atan(')">atan</button>
        <button class="button function-button"
                data-value="Math.tan("
                onclick="animateCircle(this, event.clientX, event.clientY); appendToResult('tan(')">tan</button>
        <button class="button number-button"
                data-value="e"
                onclick="animateCircle(this, event.clientX, event.clientY); appendToResult('e')">e</button>
        <button class="button number-button"
                data-value="0"
                onclick="animateCircle(this, event.clientX, event.clientY); appendToResult('0')">0</button>
        <button class="button number-button"
                data-value="."
                onclick="animateCircle(this, event.clientX, event.clientY); appendToResult('.')">.</button>
        <button class="button operation-button"
                data-value="+"
                onclick="animateCircle(this, event.clientX, event.clientY); appendToResult('+')">+</button>
        <button class="button operation-button"
                data-value="="
                onclick="animateCircle(this, event.clientX, event.clientY); calculate()">=</button>
        <button class="button operation-button"
                data-value="C"
                onclick="animateCircle(this, event.clientX, event.clientY); clearResult()">C</button>
        <button class="button operation-button"
                data-value="Backspace"
                onclick="animateCircle(this, event.clientX, event.clientY); deleteLastElement()">⌫</button>
</div>
<script src="{% static 'calculator/script.js' %}">  </script>
