{% block content %}
<canvas id="myChart"></canvas>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'line',
    data: {
        labels: {{ data.x }}.map(value => value.toFixed(1)), // Round the x-axis values
        datasets: [{
            label: "{{ data.expression }}",
            data: {{ data.y }}.map(value => value.toFixed(1)),
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: false
            },
            {% comment %} 
            x: {
                ticks: {
                    callback: function(value, index, values) {
                        return Math.round(value); // Round the x-axis label value
                    }
                }
            } 
            {% endcomment %}
        }
    }
});
</script>
{% endblock %}
