{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>SmartCalcWeb</title>
    <link rel="stylesheet" href="{% static 'calculator/style.css' %}">
  </head>
  <body>
    {% csrf_token %}
    <div class="container">
      <div class="sidebar">
        <button class="sidebar-toggle" id="sidebarToggle">
          <i class="sidebar-toggle-icon fas fa-chevron-left"></i>Explore
        </button>
        <div class="sidebar-content">
          <!-- Sidebar content goes here -->
          <p>Sidebar content</p>
          <p>Sidebar content</p>
          <p>Sidebar content</p>
          <p>Sidebar content</p>
          <p>Sidebar content</p>
          <p>Sidebar content</p>
          <p>Sidebar content</p>
          <p>Sidebar content</p>
        </div>
      </div>
      <div class="drag-handle"></div>
      <div class="content">
        <div class="calculator_container">{% include 'calculator/calculator.html' %}</div>
       
        <form action="/graph" method="POST">
          {% csrf_token %}
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" >
          
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" >
          
          <label for="message">Message:</label>
          <textarea id="message" name="message" ></textarea>
          
          <input type="submit" value="Submit">
        </form>

        <div>{% include 'calculator/graph.html' %}</div>
      </div>
    </div>
  </body>
