<div class="container-lg">
    <div class="text-center">
        <h2>Loan Calculator</h2>
        <p class="lead">Calculate how much money you will pay per month</p>
    </div>
    <div class="row justify-content-center my-5">
        <div class="col-lg-6">
            <form>
                <label for="amount" class="form-label">Amount:</label>
                <div class="input-group mb-4">
                    <span class="input-group-text">
                        <i class="bi bi-cash-stack text-secondary"></i>
                    </span>
                    <input type="number"
                           step="any"
                           min="10000"
                           id="amount"
                           class="form-control"
                           placeholder="e.g. 100000"
                           value="100000"
                           required />
                    <!-- tooltip -->
                    <span class="input-group-text">
                        <span class="tt"
                              data-bs-placement="bottom"
                              title="Enter an amount of money you want to borrow">
                            <i class="bi bi-question-circle text-muted"></i>
                        </span>
                    </span>
                </div>
                <label for="period" class="form-label">Period, month:</label>
                <div class="mb-4 input-group">
                    <span class="input-group-text">
                        <i class="bi bi-calendar-date text-secondary"></i>
                    </span>
                    <input type="number"
                           id="period"
                           min="1"
                           step="1"
                           value="12"
                           class="form-control"
                           placeholder="e.g. 12"
                           required />
                    <!-- tooltip -->
                    <span class="input-group-text">
                        <span class="tt"
                              data-bs-placement="bottom"
                              title="Period within you plan to pay loan">
                            <i class="bi bi-question-circle text-muted"></i>
                        </span>
                    </span>
                </div>
                <label for="rate" class="form-label">Interest rate, %:</label>
                <div class="mb-4 input-group">
                    <span class="input-group-text">
                        <i class="bi bi-percent text-secondary"></i>
                    </span>
                    <input type="number"
                           id="rate"
                           min="1"
                           step="1"
                           value="5"
                           class="form-control"
                           placeholder="e.g. 12"
                           required />
                    <!-- tooltip -->
                    <span class="input-group-text">
                        <span class="tt"
                              data-bs-placement="bottom"
                              title="The interest rate at which you are going to repay the loan">
                            <i class="bi bi-question-circle text-muted"></i>
                        </span>
                    </span>
                </div>
                <label for="payments-type" class="form-label">Type of monthly payments:</label>
                <div class="mb-4 input-group">
                    <span class="input-group-text">
                        <i class="bi bi-wallet2 text-secondary"></i>
                    </span>
                    <select class="form-select" id="payments-type">
                        <option value="annuity" selected>Annuity</option>
                        <option value="differentiated">Differentiated</option>
                    </select>
                </div>
                {% comment %} <div class="mb-4 mt-5 form-floating">
                    <textarea class="form-control" id="query" style="height: 140px" placeholder="query"></textarea>
                                                                                                        <label for="query">Your query...</label>
            </div> {% endcomment %}
            <div class="mb-4 text-center">
                <button type="submit" class="btn btn-secondary">Submit</button>
            </div>
        </form>
        <div class="container overflow-auto" style="height: 400px;">
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Month</th>
                        <th scope="col">Amount of payment</th>
                        <th scope="col">Principal payment</th>
                        <th scope="col">Interest payment</th>
                        <th scope="col">Balance owed</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>1234</td>
                        <td>1234</td>
                        <td>1234</td>
                        <td>1234</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>1234</td>
                        <td>1234</td>
                        <td>1234</td>
                        <td>1234</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>1234</td>
                        <td>1234</td>
                        <td>1234</td>
                        <td>1234</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>1234</td>
                        <td>1234</td>
                        <td>1234</td>
                        <td>1234</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>1234</td>
                        <td>1234</td>
                        <td>1234</td>
                        <td>1234</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>1234</td>
                        <td>1234</td>
                        <td>1234</td>
                        <td>1234</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>1234</td>
                        <td>1234</td>
                        <td>1234</td>
                        <td>1234</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>1234</td>
                        <td>1234</td>
                        <td>1234</td>
                        <td>1234</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>1234</td>
                        <td>1234</td>
                        <td>1234</td>
                        <td>1234</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>1234</td>
                        <td>1234</td>
                        <td>1234</td>
                        <td>1234</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
