body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg,
        #ff9a9e,
        #fad0c4,
        #fad0c4,
        #a18cd1,
        #fbc2eb,
        #a6c1ee,
        #fbc2eb);
    background-size: 600% 600%;
    animation: gradient 15s ease infinite;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .calculator {
    width: 500px;
    border: 1px solid #ccc;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 5px;
    background-color: #f1f6ff;
    /* Light blue background */
    box-shadow: 30px 30px 30px rgba(5, 46, 229, 0.2);
    /* Shadow offset: 10px down and 10px right */
    border-radius: 10px;
    /* Rounded corners */
  }
  
  .calculator input {
    grid-column: 1 / span 7;
    margin-bottom: 5px;
    padding: 5px;
    font-size: 16px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #74a5d9;
    width: 100%;
    height: 100%;
    text-align: right;
    /* direction: rtl; */
  }
  
  .calculator input:focus {
    outline: none;
  }
  
  .calculator input[custom-focus] {
    /* Add your custom styles to highlight the input area */
    border: 1px solid #74a5d9;
    /* Example: red border */
    box-shadow: 0 0 5px #74a5d9;
    /* Example: red box shadow */
    position: relative;
    z-index: 1;
  
  }
  
  .calculator .x_input {
    grid-column: 2 / span 6;
  }
  
  
  
  
  .calculator .button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 14px;
    color: #333;
    background-color: #d4eaff;
    /* Light blue button color */
    border: 1px solid #74a5d9;
    /* Blue border color */
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    /* Rounded corners */
    position: relative;
    overflow: hidden;
  }
  
  
  .calculator .button::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.2);
    /* Circle background color */
    border-radius: 50%;
    width: 0;
    height: 0;
    transition: width 0.3s, height 0.3s;
    pointer-events: none;
    z-index: -1;
  }
  
  .calculator .button:active::after {
    width: 200%;
    /* Adjust the circle size as needed */
    height: 200%;
    /* Adjust the circle size as needed */
  }
  
  .calculator .button:hover {
    background-color: #b7d7ff;
    /* Darker blue button color on hover */
  }
  
  .calculator .button .circle {
    position: absolute;
    background-color: rgba(68, 111, 229, 0.783);
    border-radius: 50%;
    width: 10px;
    height: 10px;
    transition: transform 0.3s, opacity 0.3s;
    pointer-events: none;
  }
  
  .calculator .button .circle.active {
    opacity: 0;
    transform: translate(-50%, -50%) scale(50);
  }
  
  .calculator .number-button {
    background-color: #d4eaff;
  }
  
  /* Function Buttons */
  .calculator .function-button {
    background-color: #ffeed4;
  }
  
  /* Other Math Operation Buttons */
  .calculator .operation-button {
    background-color: #ffe3d4;
  }