html,
body {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(
    45deg,
    #ff9a9e,
    #fad0c4,
    #fad0c4,
    #a18cd1,
    #fbc2eb,
    #a6c1ee,
    #fbc2eb
  );
  background-size: 600% 600%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

 .container {
  display: flex;
  height: 100%;
  width: 100%;
}

.calculator_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

}

.calculator {
  width: 500px;
  border: 1px solid #ccc;
  padding: 10px;
  display: grid;
  align-self: center;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 5px;
  background-color: #f1f6ff;
  box-shadow: 30px 30px 30px rgba(5, 46, 229, 0.2);
  border-radius: 10px;
}

.calculator input {
  grid-column: 1 / span 7;
  margin-bottom: 5px;
  padding: 5px;
  font-size: 16px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #74a5d9;
  width: 100%;
  height: 100%;
  text-align: right;
  text-indent: -1000000%;
}

.calculator input:focus {
  outline: none;
}

.calculator input[custom-focus] {
  border: 1px solid #74a5d9;
  box-shadow: 0 0 5px #74a5d9;
  position: relative;
  z-index: 1;
}

.calculator .x_input {
  grid-column: 2 / span 6;
}

.calculator .button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 14px;
  color: #333;
  background-color: #d4eaff;
  border: 1px solid #74a5d9;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

/* .palceholder{

  grid-column: 1 / span 7;
  width: 100%;
  height: 100px;
  background-color: #b60d13;
} */

#plot-form{
  grid-column: 1 / span 7;
  background-color: red;
  grid-row: 8 / span 1;
  width: 100%;
  height: 100px;
  /* display: flex; */

  /* grid-column: 1 / span 6; */
}


.calculator .button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  width: 0;
  height: 0;
  transition: width 0.3s, height 0.3s;
  pointer-events: none;
  z-index: -1;
}

.calculator .button:active::after {
  width: 200%;
  height: 200%;
}

.calculator .button:hover {
  background-color: #b7d7ff;
}

.calculator .button .circle {
  position: absolute;
  background-color: rgba(68, 111, 229, 0.783);
  border-radius: 50%;
  width: 10px;
  height: 10px;
  transition: transform 0.3s, opacity 0.3s;
  pointer-events: none;
}

.calculator .button .circle.active {
  opacity: 0;
  transform: translate(-50%, -50%) scale(50);
}

.calculator .number-button {
  background-color: #d4eaff;
}

.calculator .function-button {
  background-color: #ffeed4;
}

.calculator .operation-button {
  background-color: #ffe3d4;
}




/*
.sidebar {
  position: relative;
  width: 200px;
  background-color: #252830;
  color: #fff;
  overflow: auto;
  transition: width 0.1s;
}

.content {
  flex: 1;
  padding: 20px;
}

.drag-handle {
  width: 10px;
  background-color: #1d1e24;
  cursor: col-resize;
}

.sidebar-toggle {
  position: absolute;
  top: 0;
  right: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  background-color: #1d1e24;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  transition: right 0.1s;
}

.sidebar-toggle-icon {
  font-size: 18px;
  margin-right: 10px;
}

.sidebar-content {
  padding: 20px;
} */
