<!DOCTYPE html>
<html>

{% load static %}

<head>
  <title>SmartCalcWeb</title>
  <link rel="stylesheet" href="{% static 'calculator/style.css' %}">
  <link rel="stylesheet" href="{% static 'sliders/style.css' %}">
</head>

<body>
  <div class="main-container">
    <div class="item1">
      <div class="block-content"></div>
    </div>
    <div class="handler-vertical"></div>
    <div class="item2">
      <div class="placeholder placeholder1">
        <div class="calculator_container">
          {% include 'calculator/calculator.html' %}
        </div>
      </div>
      <div class="handler-horizontal"></div>
      <div class="placeholder placeholder2">
        <div class="chart-container">
          <div class="chart" id="resizable-chart">
            {% include 'graph/graph.html' %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="{% static 'sliders/script.js' %}"></script>
  <script src="{% static 'calculator/script.js' %}"></script>

</body>

</html>
