<nav class="navbar navbar-expand-md navbar-light pt-5 pb-4">
    <div class="container-xxl">
        <!-- navbar brand / title -->
        <a class="navbar-brand" href="#">
            <span class="text-secondary fw-bold">
                <i class="bi bi-calculator-fill"></i>
                SmartCalcWeb
            </span>
        </a>
        <!-- toggle button for mobile nav -->
        <button class="navbar-toggler"
                type="button"
                data-bs-
                toggle="collapse"
                data-bs-target="#main-nav"
                aria-controls="main-nav"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- navbar links -->
        <div class="collapse navbar-collapse justify-content-end align-center"
             id="main-nav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#calculator">Calculator</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#plot">Plot</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#credit">Credit Calculator</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#deposit">Deposit Calculator</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<section id="calculator" class="mt-5">
    {% include 'calculator/calculator.html' %}
</section>
<section id="plot" class="bg-transparent-dark mt-5">
    {% include 'graph/graph.html' %}
</section>
<section id="credit" class="mt-5">
    {% include 'credit/credit.html' %}
</section>
<section id="deposit" class="bg-transparent-dark mt-5">
    {% include 'deposit/deposit.html' %}
</section>
