<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#calculator">
            <span class="text-secondary fw-bold">
                <i class="bi bi-calculator-fill"></i>
                SmartCalcWeb
            </span>
        </a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end align-cente"
             id="navbarCollapse">
            <ul class="navbar-nav  mb-2 mb-md-0 ">
                <li class="nav-item">
                    <a class="nav-link" href="#section-calculator">Calculator</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#section-plot">Plot</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#section-credit">Credit Calculator</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#section-deposit">Deposit Calculator</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<section id="section-calculator" class="mt-5">
    {% include 'calculator/calculator.html' %}
</section>
<section id="section-plot" class="bg-transparent-dark mt-5">
    {% include 'graph/graph.html' %}
</section>
<section id="section-credit" class="mt-5">
    {% include 'credit/credit.html' %}
</section>
<section id="section-deposit" class="bg-transparent-dark mt-5">
    {% include 'deposit/deposit.html' %}
</section>
